body {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* Barra por defecto */
.bar {
  display: inline-block;
  margin: 1px;
  width: 10px;
  margin-top: auto;
  transition: all 0.5s;
}
/* Contenedor de pares de barras */
.barPair {
  background-color: grey;
  height: 200px;
  display: flex;
  margin-left: 1px;
  margin-top: auto;
  transition: all 0.5s;
}
/* Aclara un par al pasar el mouse por encima */
.barPair:hover {
  background-color: gainsboro;
  height: 200px;
}
/* Configuraciones especificas del div donde se alojan las barras */
div#barContainer {
  display: inline-flex;
  background-color: gainsboro;
  
  min-width: 89%;
  height: 90%;
  margin-left: 10%;
  margin-top: 2%;

  border-left: 3px solid gray;
  border-bottom: 3px solid gray;
}

/* Colores para divs */
.general {
  border-top: 5px solid lightseagreen;
  width: 70%;
  margin: auto;
}
/* Estilo del contenedor del grafico */
.grafico-estadistico {
  position: relative;
  border: 3px solid black;
  border-radius: 20px;
  width: 100%;
  height: 400px;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  overflow-x: auto;
  cursor: grabbing;
  
}

/* Barra de desplazamiento */
.grafico-estadistico::-webkit-scrollbar {
  background-color: black;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.grafico-estadistico::-webkit-scrollbar-thumb {
  background-color: lightseagreen;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


.low {
  background-color: goldenrod;
}
.medium {
  background-color: green;
}
.high {
  background-color: red;
}
.escalas {
  float: left;
  margin: 10px;
}
.grosor {
  width: 30%;
  float: right;
  margin: 10px;
}

.grosor input {
  width: 100%;
  display: block;
  margin: auto;
}


span:hover {
  height: 100px;
  background-color: grey;
}
body {
  background-color: ghostwhite;
}
input {
  border-radius: 2px;
  border: none;
  height: 20px;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.25);
  margin: 1%;
}
select {
  border-radius: 2px;
  border: none;
  height: 20px;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.25);
  margin: 1%;
}
input[type="button"] {
  margin: 2px;
}
