/* Contenedor del dialogo */
.tooltip {
  position: relative;
}

/* Texto del dialogo */
.tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* Posición del texto */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* `Desvanecimiento */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Mostrar el dialogo al pasar el mouse sobre el contenedor */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
  